In [2]:
import pandas as pd
import keras
import nltk

In [8]:
import re

In [9]:
data = pd.read_excel(r"C:\Users\eijaz\OneDrive\Desktop\stress_data.xlsx")
data

                                                  Posts            Labels
0     I quit my job of 3 years due to my stress and ...       Work Stress
1     I hate my Job and have a sick note due to stre...       Work Stress
2     For those who resigned this (recession) year d...       Work Stress
3     Anyone always sort of stressed due to this job...       Work Stress
4     Wife has been unemployed for 3 months after sh...       Work Stress
...                                                 ...               ...
1817  Bullard Discusses Financial Stress, Rate Incre...  Financial Stress
1818                  USA Financial Stress v. Equities   Financial Stress
1819  Why short term financial stresses could actual...  Financial Stress
1820  Please help! UK undergraduate students needed ...  Financial Stress
1821  Danielle DiMartino Booth, CEO of Quill Intelli...  Financial Stress

[1822 rows x 2 columns]

In [7]:
X = data ["Posts"].astype(str)

In [11]:
def preprocess(text):
    
    #lowercasing
    lower_text = text.lower()
    lower_text = re.sub(r"\W"," ",lower_text)
    lower_text = re.sub(r"\s+"," ",lower_text)
    return lower_text

In [12]:
X_clean = X.apply(preprocess)

In [13]:
X_clean

0       i quit my job of 3 years due to my stress and ...
1       i hate my job and have a sick note due to stre...
2       for those who resigned this recession year due...
3       anyone always sort of stressed due to this job...
4       wife has been unemployed for 3 months after sh...
                              ...
1817    bullard discusses financial stress rate increa...
1818                     usa financial stress v equities
1819    why short term financial stresses could actual...
1820    please help uk undergraduate students needed f...
1821    danielle dimartino booth ceo of quill intellig...
Name: Posts, Length: 1822, dtype: object

In [14]:
X_clean.loc[1818]

'usa financial stress v equities '

In [15]:
from nltk.stem import PorterStemmer

In [16]:
stemmer = PorterStemmer()

In [17]:
def Stem_Text(text):
    words = nltk.word_tokenize(text)
    stemmed_words = [stemmer.stem(word) for word in words]
    return" ".join(stemmed_words)

In [18]:
X_clean_Stem = X_clean.apply(Stem_Text)

In [20]:
X_clean_Stem

0       i quit my job of 3 year due to my stress and d...
1       i hate my job and have a sick note due to stre...
2       for those who resign thi recess year due to st...
3       anyon alway sort of stress due to thi job i st...
4       wife ha been unemploy for 3 month after she qu...
                              ...
1817    bullard discuss financi stress rate increas an...
1818                          usa financi stress v equiti
1819    whi short term financi stress could actual de ...
1820    pleas help uk undergradu student need for a di...
1821    daniel dimartino booth ceo of quill intellig a...
Name: Posts, Length: 1822, dtype: object

In [19]:
from keras.preprocessing.text import Tokenizer

In [21]:
# Any number we can take basis the data 
tokenize = Tokenizer(num_words=20000)

In [22]:
tokenize.fit_on_texts(X_clean_Stem)

In [23]:
data_sequences = tokenize.texts_to_sequences(X_clean_Stem)

In [24]:
data_sequences[0]

[1,
 229,
 6,
 57,
 7,
 149,
 63,
 75,
 2,
 6,
 16,
 3,
 282,
 1,
 229,
 6,
 150,
 57,
 11,
 33,
 64,
 62,
 128,
 1032,
 1,
 31,
 39,
 5,
 1033,
 3,
 39,
 33,
 24,
 218,
 127,
 3,
 6,
 961,
 168,
 1,
 271,
 106,
 123,
 6,
 1139,
 591,
 75,
 2,
 4,
 622,
 529,
 3,
 7,
 547,
 11,
 138,
 18,
 73,
 622,
 529,
 1163,
 1901,
 282,
 1163,
 44,
 7,
 19,
 12,
 192,
 15,
 130,
 5,
 349,
 1901,
 282,
 1,
 329,
 11,
 33,
 24,
 850,
 7,
 55,
 6,
 563,
 12,
 30,
 1,
 329,
 31,
 39,
 19,
 33,
 24,
 734,
 131,
 21,
 230,
 2,
 1366,
 4,
 231,
 200,
 1034,
 1,
 31,
 39,
 33,
 24,
 5,
 1287,
 2,
 521,
 85,
 257,
 26,
 153,
 15,
 2,
 229,
 48,
 1,
 6333,
 33,
 24,
 38,
 2,
 13,
 82,
 481,
 3,
 26,
 54,
 2,
 89,
 117,
 5,
 122,
 7,
 4,
 453,
 33,
 24,
 32,
 465,
 465,
 7,
 326,
 1034,
 465,
 7,
 31,
 2569,
 465,
 7,
 27,
 13,
 68,
 2257,
 85,
 257,
 6,
 1411,
 12,
 406,
 50,
 27,
 301,
 1,
 32,
 58,
 2,
 31,
 219,
 6,
 137,
 71,
 12,
 8,
 509,
 71,
 1,
 32,
 83,
 2,
 34,
 195,
 4,
 253,
 99,
 3,
 120,
 1,
 31,
 6,
 273,
 45,
 579,
 3,
 1,
 45,
 338,
 4,
 49,
 123,
 437,
 57,
 164,
 127,
 171,
 1,
 32,
 83,
 97,
 286,
 2,
 780,
 1,
 13,
 82,
 79,
 418,
 2,
 163,
 2,
 3,
 1,
 118,
 14,
 58,
 2,
 1287,
 6,
 385,
 86,
 748,
 1,
 118,
 14,
 60,
 61,
 2,
 530,
 127]

In [25]:
# Length of first review 
len(data_sequences[0])

244

In [26]:
len(data_sequences[1])

333

In [27]:
# we need to pad the data, and check highest length of post. SInce it is gonna take more time to train we will take it as 300 

# padding the sequence 
from keras.preprocessing.sequence import pad_sequences

In [28]:
# By default its set to pre we need to set it as post for spaces to be added 
# padding is to add
# truncating is to drop 
padded_sequences = pad_sequences(data_sequences,maxlen=300,padding="post",truncating="post")

In [30]:
padded_sequences[0]

array([   1,  229,    6,   57,    7,  149,   63,   75,    2,    6,   16,
          3,  282,    1,  229,    6,  150,   57,   11,   33,   64,   62,
        128, 1032,    1,   31,   39,    5, 1033,    3,   39,   33,   24,
        218,  127,    3,    6,  961,  168,    1,  271,  106,  123,    6,
       1139,  591,   75,    2,    4,  622,  529,    3,    7,  547,   11,
        138,   18,   73,  622,  529, 1163, 1901,  282, 1163,   44,    7,
         19,   12,  192,   15,  130,    5,  349, 1901,  282,    1,  329,
         11,   33,   24,  850,    7,   55,    6,  563,   12,   30,    1,
        329,   31,   39,   19,   33,   24,  734,  131,   21,  230,    2,
       1366,    4,  231,  200, 1034,    1,   31,   39,   33,   24,    5,
       1287,    2,  521,   85,  257,   26,  153,   15,    2,  229,   48,
          1, 6333,   33,   24,   38,    2,   13,   82,  481,    3,   26,
         54,    2,   89,  117,    5,  122,    7,    4,  453,   33,   24,
         32,  465,  465,    7,  326, 1034,  465,    7,   31, 2569,  465,
          7,   27,   13,   68, 2257,   85,  257,    6, 1411,   12,  406,
         50,   27,  301,    1,   32,   58,    2,   31,  219,    6,  137,
         71,   12,    8,  509,   71,    1,   32,   83,    2,   34,  195,
          4,  253,   99,    3,  120,    1,   31,    6,  273,   45,  579,
          3,    1,   45,  338,    4,   49,  123,  437,   57,  164,  127,
        171,    1,   32,   83,   97,  286,    2,  780,    1,   13,   82,
         79,  418,    2,  163,    2,    3,    1,  118,   14,   58,    2,
       1287,    6,  385,   86,  748,    1,  118,   14,   60,   61,    2,
        530,  127,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0,    0,    0,    0,    0,    0,    0,    0,    0,
          0,    0,    0])

In [31]:
from sklearn.preprocessing import OneHotEncoder

In [32]:
le = OneHotEncoder()

In [36]:
y = data[["Labels"]]

In [37]:
y = le.fit_transform(y)